@charset "utf-8";
/*======================================

 [ -Main Stylesheet-
  Theme: Krobs
  Version: 1.0
  Assigned to:	Themeforest
  Last change: 03/10/2014 ]
  
	++++ General Styles ++++
	++++ Typography ++++
	++++ Page preload ++++
	++++ Content Styles ++++
		++++ a-1 Contennt
		++++ a-2 Overlay
		++++ a-3 Button
		++++ a-4 Section
	++++  Navigation ++++
		++++ a-1 Nav holder
		++++ a-2 Nav style
		++++ a-3 Nav Button
	++++ page +++++
	++++ Home +++++	
	++++ About ++++
	++++ Skills ++++
	++++ Resume +++++
	++++ Services ++++
	++++ Twitter ++++
	++++ Testimonials ++++
	++++ Portfolio ++++
	++++ Contacts ++++
	++++ Subscribe ++++
	++++ CSS Animation ++++
	++++ Media ++++
		++++ a-1 Tablet - retina - netbooks
		++++ a-2 Tablet 
		++++ a-2 Smartphone   
*/

/*-------------General Style---------------------------------------*/

html{
	overflow-x:hidden !important;	
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	background:#fff;
	height:100%;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}
@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}
::-webkit-scrollbar , -moz-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track , -moz-scrollbar {
 	width: 6px;
	background:#fff;	
}
/*--------------Typography--------------------------------------*/
h1 {
	font-size: 4.46666666667em;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.17em;	
}
h2 {
	font-size: 3.2em;
	font-weight: 300;
}
h3 {
	font-size: 1em;
	font-weight: 200;
}
h4 {
	font-size: 0.9em;
	font-weight: 200;	
}
h5 {
	font-size: 0.8em;
	font-weight: 200;
}
h6 {
	font-size: 0.6em;
	font-weight: 200;
}
p {
	text-align:left;
	font-size:14px;
	line-height:21px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
}
/* ---------Page preload--------------------------------------*/
#jpreOverlay {
	background: #fff;
}
#jpreLoader{
	position:relative;
	z-index:1;
}
#jpreBar {
	display:none;
}
#jprePercentage {
    font-size: 14px;
	position:fixed;
	width:80px;
	height:80px !important;
	top:50%;
	left:50%;
	color:#fff;
	margin-left:-40px;
	margin-top:-40px;
	line-height:80px;
	-webkit-animation: k3d linear infinite 2s;
	-moz-animation: k3d linear infinite 2s;
	-ms-animation: k3d linear infinite 2s;
	-o-animation: k3d linear infinite 2s;
	animation: k3d linear infinite 2s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
/* ---------Content Styles--------------------------------------*/
#main{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}
.swiper-container{
	width:100%;
	height:100%;
	z-index:10;
	position:relative;	
}
.slide-bg {
	background-size: cover !important;
	background-attachment: scroll!important;
	background-position: 50%;
	background-repeat:repeat;
}	
.swiper-slide {
	 cursor:move;
	 position:relative;
	 z-index:10;
}
.content{
	max-width: 1200px;
	width:92%;
	margin:0px auto;
	position: relative;
	z-index:3;
}
.no-bg {
	background:none !important;
}
.container{
	float:left;
	width:100%;
	height:100%;
	position:relative;
	z-index:6;
	overflow:auto;
	 -webkit-overflow-scrolling: touch;
}
.respimg {
	width:100%;
	height:auto;
}
.bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size: cover!important;
	background-attachment:scroll!important;
	background-position:center;
	background-repeat:repeat;
	z-index:1;
}
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	background:#292929;
	opacity:0.4;
}
.op8 {
	opacity:0.8;
}
.button{ 
	font-size: 14px;
	color: #fff;
	margin: 0 10px 0 0;
	text-align: center;
	width: auto;
	font-family: Raleway, Open Sans, Arial, sans-serif;	
	letter-spacing: normal;
	position: relative;
	-moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    outline: none;
	padding: 13px 20px;
    display: inline-block; 
}
.button i{
	padding-right: 10px;
	font-size: 16px;
	background:#fff;
	padding: 14px 20px;
	position: absolute;
	top: 0px;
	left: 0;
}
.button.hide-icon span.text {
	padding: 0 33px;
}
.button.hide-icon i {
	padding: 11px 20px 10px;
	left: -60px;
	height: 100%;
	line-height: 23px;
	display: inline-block;
	position: absolute;
	color:#000 !important;
	top: 0;
}
.button.hide-icon:hover i{
	left: 0;
}
.button.hide-icon:hover span.text {
	padding-left: 59px;
	padding-right: 11px;
}
.float-button {
	float:left;
}
.content-button.hide-icon i {
	background:#414141;
	color:#fff !important;
}
.separator {
	width:200px;
	height:2px;
	position:relative;
	margin:25px auto;
	background:#fff;
}
.separator span {
	width:70px;
	height:4px;
	top:-1px;
	position:absolute;
	left:50%;
	margin-left:-35px;
}
.color-separator {
	float:left;
	width:60px;
	height:4px;
	margin:10px 0;
} 
.float-separator {
	float:left;
	width:60px;
	height:2px;
	margin:10px 0;
	background:#292929;
}
section {
	width:100%;
	float:left;
	position:relative;
	padding:150px   5%;
	background:#fff;
}
section h3{
	 text-align:left;
	 font-size:34px;
	 margin-bottom:10px;
}
section h4{
	 text-align:left;
	 font-size:18px;
	 margin-bottom:10px;
	 font-family: Raleway, Open Sans, Arial, sans-serif;
	 font-weight:400;
} 
.gray-bg {
	background:#eee;
}
/*------ nivigation - ------------------------------------------------*/
.nav-holder {
	position:fixed;
	top:5%;
	left:5%;
	padding:20px;
	z-index:100;
	width:90%;
	border-bottom:1px solid #fff;
	background:rgba(49,49,49,0.2);
}
nav {
	display:none;
	min-height: 52px;
	font-size: 12px;
	color: #666;
	position: relative;
	z-index:2;
	float:left;
	top:6px;
	left:0;
	visibility: visible;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
nav  a{
	float:left;
	line-height:30px;
	padding:5px 20px; 
	font-size: 12px;
	text-transform: uppercase;
	color:#fff;
	position:relative;
	font-family: Raleway, Open Sans, Arial, sans-serif;
}
nav  a span {
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:100%;
	z-index:-2;
	border-radius:3px;
}
nav .active span {
	width:100%;
}
.vis{
	visibility: visible;
	-webkit-transform:   scale(3.5);
	-moz-transform:   scale(3.5);
	-o-transform:  scale(3.5);
	-ms-transform:   scale(3.5);
	transform:  scale(3.5);
	opacity:0;
}
.btn-menu-wrapper{
	height:52px;
	width:52px;
	float:left;
	z-index:13;
	cursor:pointer;
    -webkit-transform: translate3d(0,0,0);
	overflow:hidden;
}
#btn-menu{
	float:left;
	padding:4px;
	position:relative;
	margin:14px 0 0 4px;
}
.icon-container {
	height:46px;
	width:46px;
	float:left;
	position:relative;
}
#btn-menu .line{
	position:absolute;
	width:29px;
	height:3px ;
	left:3px; 
	background: #fff;
	-webkit-transition:all 300ms cubic-bezier(0.215,.61,.355,1); 
	-moz-transition:all 300ms cubic-bezier(0.215,.61,.355,1);
	-o-transition:all 300ms cubic-bezier(0.215,.61,.355,1);
	transition:all 300ms cubic-bezier(0.215,.61,.355,1);
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
#btn-menu .line01{
	top:0;
	opacity:1;
	-webkit-transition-delay:210ms;
	-moz-transition-delay:210ms;
	-o-transition-delay:210ms;
	transition-delay:210ms
}
#btn-menu .line02{
	top:7px;
	-webkit-transition-delay:140ms;
	-moz-transition-delay:140ms;
	-o-transition-delay:140ms;
	transition-delay:140ms
}
#btn-menu .line03{
	top:14px;
	-webkit-transition-delay:70ms;
	-moz-transition-delay:70ms;
	-o-transition-delay:70ms;
	transition-delay:70ms
}
#btn-menu .line04{
	top:21px;opacity:0;
	-webkit-transition-delay:0ms;
	-moz-transition-delay:0ms;
	-o-transition-delay:0ms;
	transition-delay:0ms
}
.btn-menu-wrapper:hover #btn-menu .line{
	-webkit-transform:translate3d(0,-7px,0);
	-moz-transform:translate3d(0,-7px,0);
	-o-transform:translate3d(0,-7px,0);
	transform:translate3d(0,-7px,0)
}
.btn-menu-wrapper:hover #btn-menu .line01{
	opacity:0;
	-webkit-transition-delay:0ms;
	-moz-transition-delay:0ms;
	-o-transition-delay:0ms;
	transition-delay:0ms
}
.btn-menu-wrapper:hover #btn-menu .line02{
	-webkit-transition-delay:70ms;
	-moz-transition-delay:70ms;
	-o-transition-delay:70ms;
	transition-delay:70ms
}
.btn-menu-wrapper:hover #btn-menu .line03{
	-webkit-transition-delay:140ms;
	-moz-transition-delay:140ms;
	-o-transition-delay:140ms;
	transition-delay:140ms
}
.btn-menu-wrapper:hover #btn-menu .line04{
	opacity:1;
	-webkit-transition-delay:210ms;
	-moz-transition-delay:210ms;
	-o-transition-delay:210ms;
	transition-delay:210ms;
}
.logo-holder{
	line-height:52px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-right:4px;
}
.arrow-nav {
	float:right;
	margin:10px 10px 0 0;
}
.arrow-nav a {
	width:40px;
	height:40px;
	float:right;
	border-radius:4px;
	font-size:18px;
	color:#fff;
	margin-left:6px;
	line-height:40px;
}
.arrow-nav a:hover {
	opacity:0.7;
}
.blog-bav .arrow-nav , .blog-bav .swp{
	display:none;
}
/*------ page title -------------------------------------------------*/
.page-title {
	float:left;
	width:100%;
	position:relative;
	padding:280px 50px 250px;
}
.page-title p {
	display:table;
	max-width:600px;
	margin-top:30px;
	color:#fff;
}
.page-title h2 {
	font-size:64px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	position:relative;
	z-index:3;
	float:left;
	margin:0 auto;
	color:#fff;
}
.page-title h2::before {
	position: absolute;
	top:-42%;
	left:  -10%;
	width:80%;
	height:150%;
	z-index:-1;
	content: '';
	background:rgba(49,49,49,0.3);
}
.page-title h2 span {
	padding-bottom:2px;
}
/*------ Home - ------------------------------------------------*/
.homeholder {
	padding-bottom:50px;
}
#home {
	float:none;
	/*! margin:10% auto 0; */
	background: none;
	padding:0;
	z-index:10;
	text-align:left;
	position:relative;
}
#home::before {
	position: absolute;
	top:-22%;
	left:  -10%;
	width:30%;
	height:70%;
	z-index:-1;
	content: '';
	background:rgba(49,49,49,0.3);
}
#home h2 {
	/*! margin-top:70px; */
	font-size:64px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	color:#fff;
}
#home .button {
	margin-top:40px;
}
.home-separator {
	float:left;
	width:200px;
	height:2px;
	background:#fff;
	position:relative;
	margin-top:20px;
}
.home-separator span {
	position:absolute;
	top:0;
	left:0;
	width:70px;
	height:2px;
}
.tetx-rotator {
	margin-top:60px;
}
.tlt {
	font-size:24px;
	letter-spacing:4px;
	color:#fff;
}
/*-------------slider---------------------------------------*/
#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
.slides-pagination {
	display:none;
}
#slides{
	position:fixed !important;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-14 ;
}
.slides-fullscreen-img {
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	background-position: 50% 0;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index:-14 ;
	position:absolute;
	-webkit-animation: spinAround 120s linear infinite;
	-moz-animation: spinAround 120s linear infinite;
	animation: spinAround 120s linear infinite;
}
/*------ footer - ------------------------------------------------*/
footer{
	position:absolute;
	bottom:0;
	left:5%;
	width:90%;
	padding:10px 0 0;
	border-top:1px solid #fff;
	z-index:3;
}
.contact-info li {
	float:left;
	padding:14px 10px 6px 0;
}
.contact-info li span , .contact-info li a{
	color:#fff;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	font-size:14px;
	letter-spacing:1px;	
}
.contact-info li i {
	margin-right:4px;
	font-size:14px;
}
.social-list {
	float:right;
	width:100%;
}
.social-list li {
	float:right;
	padding:6px 0 6px 10px;
}
.social-list li a {
	display:block;
	width:40px;
	height:40px;
	position:relative;
	border-radius:2px;
	line-height:40px;
	color:#fff;
	font-size:14px;
}
.social-list li a:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}
.social-list li a:hover:before  {
	transition: 0.9s;
	opacity:0.5;
}
/*------ About ------------------------------------------------*/
#about {
	padding:0 !important;
}
.subab strong {
	margin-bottom:10px;
	font-weight:800;
}
#about .button {
	margin-top:20px;
}
.about-image {
	position:relative;
}
.about-image .customNavigation ,  .media-holder .customNavigation  {
	position:absolute;
	bottom:2px;
	right:0;
	z-index:10;
}
.about-image .customNavigation a , .media-holder .customNavigation a{
	width:40px;
	height:40px;
	float:right;
	line-height:40px;
	cursor:pointer;
	color:#fff;
	font-size:20px;
	margin-right:2px;
	text-align:center !important;
}
.about-image .customNavigation a:hover ,  .media-holder .customNavigation a:hover {
	opacity:0.6;
}
.left-colum , .right-colum {
	width:50%;
	float:left;
	position:relative;
}
.item-box {
	max-width:800px;
	margin:70px auto ;
	padding:50px;
	position:relative;
}
.about-button {
	position:absolute;
	right:-50px;
	color:#fff;
	width:50px;
	height:50px;
	font-size:16px;
	line-height:50px;
	cursor:pointer;
	z-index:5;
}
.show-res {
	top:52px;
}
.show-about {
	top:0;
}
.show-ser {
	top:104px;
}
.cur {
	opacity:0.5;
}
.tooltip{
	width:150px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	font-size: 13px;
	text-align: center;
	position: absolute;
	color:#fff;
	background:#000;
	bottom:-100%;
	margin-bottom:-12px;
	left: -165px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index:6;
	border-radius:2px;
}
.tooltip:after {
	top: 50%;
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tooltip:after {
	border-left-color: #000;
	border-width: 4px;
	margin-top:-4px;
}
.about-button:hover .tooltip {
	visibility:visible;
	opacity:1;
	bottom:16px;
}
.scroll-nav {
	top:35%;
	left:0;
	width:50px;
	position:fixed;
	z-index:50;
}
.scroll-nav a {
	width:40px;
	height:40px;
	float:left;
	color:#fff;
	margin-bottom:1px;
	position:relative;
	left:-50px;
}
.scroll-nav a  i {
	color:#fff;
	font-size:17px;
	line-height:40px;
}
.scroll-nav a span{
	width:150px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	font-size: 13px;
	text-align: center;
	position: absolute;
	color:#fff;
	background:#000;
	bottom:-100%;
	margin-bottom:-12px;
	left:59px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index:6;
	border-radius:2px;
}
.scroll-nav a span:before {
	top: 50%;
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.scroll-nav a span:before {
	border-right-color: #000;
	border-width: 4px;
	margin-top:-4px;
}
.scroll-nav a:hover span{
	visibility:visible;
	opacity:1;
	bottom:16px;
}
.scroll-nav a:hover {
	opacity:0.8;
}
/*------ skills -------------------------------------------------*/
.skillbar-box {
	float:left;
	width:100%;
	position:relative;
	margin-bottom:50px;
}
.skillbar-bg {
	position:relative;
	display:block;
	float:left;
	width:100%;
	height:15px;
	overflow:hidden;
	border:1px solid #eee;
}
.custom-skillbar-title span {
	float:left;
	font-size:16px;
	margin-top:12px;
    font-family: Raleway, Open Sans, Arial, sans-serif;
	padding-bottom:6px;
}
.custom-skillbar {
	height:15px;
	width:0px;
}
.skill-bar-percent {
	float:right;
	font-size:16px;
	margin-top:13px;
 	font-family: Raleway, Open Sans, Arial, sans-serif;
	padding-bottom:6px;
}
/*------ facts -------------------------------------------------*/
.facts  li h6 {
	font-size:14px;
}
.facts  li h5 {
	font-size:18px;
	padding-top:22px;
}
.num {
	font-size:44px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
}
#facts:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:65%;
	height:100%;
	background:#eee;
}
#facts:after {
	content:'';
	position:absolute;
	top:50%;
	left:65%;
	margin-left:-20px;
	margin-top:-20px;
	width:40px;
	height:40px;
	background:#fff;
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
/*------ resume -------------------------------------------------*/
#resume {
	padding:0;
}
.resume-title-holder {
	float:left;
	width:100%;
 	border-bottom:1px solid #eee;
	position:relative;
	z-index:3;
}
.resume-title {
	width:35%;
	float:left;
	padding:83px 0;
	position:relative;
}
.resume-title:before {
	left: 50%;
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.resume-title:before {
	border-top-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
.resume-title h4{
	text-align:center;
	font-size:18px;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
}
.download-botton-holder {
	float:left;
	width:65%;
	position:relative;
	padding:80px 0;
}
.resume-container {
	float:left;
	position:relative;
	width:100%;
	padding:150px 50px;
	border-bottom:1px solid #eee;
}
.resume-container .overlay {
	background:#fff;
}
.resume-container:hover .overlay {
	opacity:0.5;
}
.resume-head {
	width:35%;
	float:left;
	position:relative;
	z-index:2;
	padding-right:50px;
}
.resume-bg {
	position:absolute;
	top:0;
	left:0;
	width:35%;
	height:100%;
	overflow:hidden;
}
.resume-head h3 {
	float:left;
	width:100%;
	font-size: 20px;
	padding-top:60px;
	text-transform:uppercase;
	text-align:center;
}
.resume-head h4 {
	text-align:center;
	font-weight:800;
}
.resume-box-holder{
	float:left;
	width:65%;
	position:relative;
	z-index:2;
}
.resume-box {
	float:left;
	width:100%;
	padding:20px;
	position:relative;
	margin-top:20px;
}
.resume-item {
	float:left;
	clear:both;
	font-size:24px;
	margin-bottom:10px;
	line-height:30px;
}
.resume-box h6 {
	float:left;
	text-align:left;
	font-size:16px;
	margin-bottom:10px;
}
.resume-info {
	float:left;
	padding:10px 10px 10px 0;
	position:relative;
	z-index:2;
}
.resume-info h5 {
	float:left;
	font-size:24px;
	color:#666;
	text-align:left;
	padding:10px 20px;
}
.resume-container:hover .bg {
	-webkit-transform: scale(1.2) rotate(8deg);
	-moz-transform:scale(1.2) rotate(8deg);
	transform: scale(1.2) rotate(8deg);
}
/*------ services -------------------------------------------------*/
.services-holder {
	position:relative;
}
.services-holder ul {
	padding: 0px;
	border: 0 solid #eee;
	border-width: 0 0 1px 1px;
	display: table;
	width: 100%;
}
.services-holder li {
	width: 33.3333%;
	padding: 35px 15px 20px;
	float: left;
	border: 0 solid #eee;
	border-width: 1px 1px 0 0;
	height: 145px;
	cursor: pointer;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	font-size:18px;
}
.services-holder li:hover {
	box-shadow: 0px 22px 23px 0px rgba(0,0,0,0.2);
	border-color:#fff;
}
.services-holder li a {
	display:block;
}
.services-holder li h5 {
	font-weight:800;
	display: table;
	margin: 20px auto;
}
.services-holder li h5 span {
	position:relative;
	padding-top:10px;
}
.services-holder li h5 span::before {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:1px;
	content: '';
	opacity: 0;
	z-index:4;
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
}
.services-holder li h5 span::before {
	border-top: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.services-holder li:hover h5 span::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.services-holder li  i {
	font-size:24px;
	margin-top:6px;
}
.services-holder li a {
	 width:100%;
	 height:100%;
	 float:left;
}
.services-holder li:hover i{
	color:#fff;
}  
.services-holder li:hover h5 {
	padding-top: 14px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.services-info {
	width:100%;
	height:100%;
	display: none; 
	position:absolute;
	top: 0; 
	left: 0;
	z-index: 5;	
	padding:100px 50px 50px;
	box-shadow: 0px 22px 23px 0px rgba(0,0,0,0.2);
}
.serv-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.services-info h2{
	font-size:24px;
	color:#fff;
	font-family: Raleway, Open Sans, Arial, sans-serif;
}
.services-info p {
	float:left;
	font-size:15px;
	color:#fff;
	padding-top:20px;
}
.services-info i {
	padding-bottom:10px;
	margin-bottom:10px;
	font-size:44px;
	color:#fff;
} 
.closeser{
	position:absolute;
	top:10px;
	right:10px;
	z-index:2;
	cursor:pointer;
	width:30px;
	height:30px;
	background: url(../images/close.png) no-repeat center;
}
/*------ Testimonials -------------------------------------------------*/
.testi-text {
	font-size:20px;
	color:#fff;
}
.testi-image {
	max-width:150px;
	margin:0 auto;
	background:#fff;
	padding:6px;
	position:relative;
}
.testi-image:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
} 
.testi-image:before {
	border-left-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
#testimonials-slider p {
	color:#fff;
	font-size:14px;
	margin-top:15px;
}
#testimonials-slider h4 {
	font-size:20px;
	margin-bottom:10px;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
}
#testimonials-slider a {
	float:left;
	font-size:15px;
	margin-top:10px;
}
/*------ Twitter - ------------------------------------------------*/
.twitter-holder , .testimonials-holder {
	max-width:800px;
	margin:0 auto;
	position:relative;
}
.twitter-holder h3 , .testimonials-holder h3 {
	float:left;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
}
.twitter-holder .customNavigation , .testimonials-holder .customNavigation  {
	float:right;
	padding-bottom:10px;
}
.twitter-holder .customNavigation a , .testimonials-holder .customNavigation a {
	float:right;
	width:40px;
	height:40px;
	margin-left:4px;
	color:#fff;
	font-size:16px;
	line-height:40px;
	cursor:pointer;
}
.twitter-holder .customNavigation a:hover , .testimonials-holder .customNavigation a:hover {
	opacity:0.6;
}
#twitteritem {
	padding:230px 0;
}
.twitts  , #testimonials-slider{
	float:left;
	width:100%;
	padding-top:25px;
	border-top:1px solid #fff;
}
.twitts li {
	text-align:left;
	color:#fff;
	font-size:16px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	padding-bottom:10px;
}
.twitter-holder h4 {
	color:#fff;
	font-size:16px;
	float:left;
	padding-top:10px;
	margin-top:20px;
	font-family: 'Montserrat', sans-serif;
}
/*------ Clients - ------------------------------------------------*/
#clients {
	 padding:0 ;
}
.clients-holder {
	width:65%;
	float:left;
}
.to-top-holder {
	float:left;
	width:35%;
	padding:75px 0;
}
/*------ portfolio - ------------------------------------------------*/
#folio {
	padding:0 0 40px;
}
#folio_container{
	position:relative;
	z-index:3;
	float:left;
	width:100%;
	height:100%;
}
#folio_container .mix { 
	opacity: 0;
	display: none;
}
#options{
	width:100%;
	position:relative;
	z-index:12;
	padding:50px 0;
	margin-bottom:30px;
	background:#fff;
}
#options ul {
	position:relative;
	padding:8px 0;
	margin:0 auto;
}
#options li{
	display:inline-block;
	margin-bottom:5px;
	color:#666;  
    font-size: 15px;
	text-transform: none;
	padding:12px 30px;
	cursor:pointer;
	position:relative;
	font-family: Raleway, Open Sans, Arial, sans-serif;	
}
#options li.actcat, #options li:hover{
	color: #fff;
}
.box {
	float:left;
	position:relative;
	z-index:1;
	margin:1.315151515152%;	
	width: 30.30303030303%; 
}
.box  a{
	float:left;
	position:relative;
	width:100%;
	height:100%;
	display:block;
	overflow:hidden;
}
.folio-img-holder{
	position:relative;
	width:100%;
	float:left;
}
.folio-img-holder img{
	position:relative;
	z-index:1;
}
.box:hover img {
	-webkit-transform: scale(1.2) rotate(8deg);
	-moz-transform:scale(1.2) rotate(8deg);
	transform: scale(1.2) rotate(8deg);
}
.folio-item{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
	overflow:hidden;
}
.folio-item span.fol-but {
	color:#fff;
	position:absolute;
	bottom:-50%;
	left:25%;
	width:50%;
	padding:10px 6px;
	z-index:6;
	text-align:center;
	border:2px solid #fff;
	border-radius:14px;
	opacity:0;
}
.folio-item span.fol-but:hover {
	background:rgba(255,255,255,0.9);
	color:#000;
}
.folio-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.7;
	z-index:1;
}
.folio-overlay span {
	width:33.33333333%;
	min-height:50%;
	display: inline-block;
	float:left;
	position:relative;
}
.scale-callback {
	-webkit-transform: scale(0);
	-moz-transform:scale(0);
	transform: scale(0);
	opacity:0;
}
.box-details {
	float:left;
	width:100%;
	padding:30px 0;
	background:#fff;
}
.box-details h3{
	text-align:center;
	color:#000;
	font-size:14px;
	width:100%;
	font-weight:400;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	position:relative;	
}
.box-details h3:after {
	content:'';
	position:absolute;
	bottom:-14px;
	left:50%;
	width:30px;
	height:2px;
	margin-left:-15px;
} 
.white-popup-block{
	max-width:900px;
	margin: 70px auto;
	padding:0 0 90px;
	background:#fff;
	position:relative;
}
.project-holder {
	float:left;
	width:100%;
	background:#fff;
	margin-bottom:70px;
}
.project-discription {
	float:left;
	width:100%;
	padding:50px;
	text-align:left ;
} 
.media-content{
	position:relative;
	float:left;
	width:100%;
}
.white-popup-block   h2{
	font-size:1.5em;
	font-weight:500;
	text-transform:none;
}
.white-popup-block   h4{
	font-size:0.8em;
	margin-top:20px;
	font-weight:600;
	margin-bottom:50px;
}
.white-popup-block   p {
	padding:10px 10px 10px 0;
	margin-top:-30px;
}
#project-slider .owl-prev ,  #project-slider .owl-next{
	top:50%;
	margin-top:-20px;
	display:block;
	width:40px;
	height:40px;
	position:absolute;top:50%; overflow:hidden;
	text-indent:-999px; 
	color:#fff;
}
#project-slider .owl-next{
	 right:0;
}
#project-slider .owl-prev {
	left:0;
}
.popup-modal-dismiss {
	position:absolute;
	top:-41px;
	right:0;
	width:40px;
	height:40px;
	color:#fff;
	font-size:16px;
	line-height:40px;
	text-align:center;
	cursor:pointer;
}
.popup-modal-dismiss:hover , #project-slider .owl-prev:hover ,  #project-slider .owl-next:hover {
	opacity:0.6;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
#project-page-holder, #single-page-holder {
	display: none;
	float:left;
	width:100%;
	position:relative;
}
#project-page-button, #single-page-button{
	text-align:center;
	height: auto;
	position: relative;
	z-index:2;
	display:inline-block;
	margin-top:20px;
}
#project-page-button  a, #single-page-button  a {
	width:40px;
	height:40px;
	display:inline-block;
	line-height:40px; 
	color:#fff; 
	font-size:14px;
}
#project-page-button  a:hover, #single-page-button  a:hover {
	opacity:0.6;
}
#project-page-data, #single-page-data {margin-bottom: 0px;	position: relative;z-index:3;	}
.project-page, .single-page {position:relative;width:100%;height:auto;left:0;padding-bottom:40px;}
 
.prject-ajax-box {
	float: left;
	width:100%;
	position:relative;
	padding:20px;
	background:#fff;
}
.project-page h3  {
	font-size:24px;
}
.project-page h4 {
	font-size:13px;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
.project-page .button {
	margin-left:0;
	margin-top:0;
}
.box-gallery {
	margin-top:20px;
}
.box-gallery a:hover {
	opacity:0.6;
}
.elemajax {
	opacity:0;
	position:relative;
	top:-20px;
}
/*------Order ------------------------------------------*/
#order {
	padding:70px 0;	
}
#order h3 {
	font-size:20px;
	text-align:center;
	margin-bottom:10px;
}
#order p {
	text-align:center;
	padding-bottom:18px;
}
/*------Subscribe ------------------------------------------*/
.subscribe-holder {
	max-width:800px;
	margin:0 auto;
	color:#fff;
}
.subscribe-holder h3 {
	font-size:20px;
}
.subscribe-holder h4 {
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}
.subscribe-holder p {
	font-size:14px;
}
.subscribe-holder .row-fluid {
	padding-top:20px;
	border-top:1px solid #fff;
}
.subcribe-form{
	margin:30px auto;
	position:relative;	
}
.subcribe-form div {
	display:none;
	width:100%;
	height:50px;
	font-size:14px;
	font-weight:300;
	letter-spacing:1px;
	position:absolute;
	color:#fff;
	bottom:-60px;
	left:0;
	line-height:40px;
	padding:4px;
}
.subcribe-form fieldset{
	padding:8px;
	background: #fff;
	position:relative;
	z-index:1;
}
.subcribe-form fieldset:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.subcribe-form fieldset:before {
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.subscriptionForm input.inputForm{
	width:70%;
	float:left;
	height:50px;
	border:none;
	outline:none;
	background: none;
	padding-left:8px;
	letter-spacing:2px;
	color:#000;
	font-size:10px;
	border:1px solid #eee;
	font-weight:200;
	line-height:50px;
	font-family: 'Montserrat', sans-serif;
	-webkit-appearance: none;
    border-radius: none;
}
.subscriptionForm input#submitButton{
	border:none;
	width:25%;
	float:left;
	height:40px;
	cursor:pointer;
	margin:5px 0 0 2.5%;
	letter-spacing:2px;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size:14px;
	color:#fff;
	letter-spacing:2px;
	-webkit-appearance: none;
}
.subscriptionForm input#submitButton:hover{
	color:#fff;
	background: #292929;
}
/*------ contact - ------------------------------------------------*/
#contact {
	padding:0;
}
.contact-header {
	float:left;
	width:100%;
	padding:62px 50px;
	border-bottom:1px solid #eee;
}
.contact-header p {
	float:left;
	width:50%;
	font-size:14px;
 	font-family: 'Montserrat', sans-serif;
 
}
.contact-header h3 {
	float:left;
	width:50%;
	color:#000;
	font-size:20px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}
#contact  .contact-info li a{
	font-size:16px!important;	
}
#contact .contact-info  {
	float:left;
	width:100%;
	padding:120px 0;
	position:relative;
}
#contact .contact-info ul {
	float: none;
	margin: 0  auto;
}
#contact  .contact-info li   {
	float: none !important;
	display:inline-block !important;
	position:relative;
}
#contact  .contact-info li a {
	color:#000;
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
}
#contact-form {
	width:100%;
	float:left;
	padding:80px 50px;
	margin-top:30px;
}	
#contact-form input[type="text"] , textarea {
	float:left;
	width: 100%;
	background:none;
	margin-bottom:20px;
	font-size: 12px;
	padding:10px 12px;
	border:0;
	border:1px solid #eee;
	font-family: 'Montserrat', sans-serif;
	-webkit-appearance: none;
    border-radius: none;
}		
#contact-form textarea {
	height:170px;
	resize:none;
	overflow: auto;
}	
#contact-form input[type="submit"]	{
	float:right;
	border:none;
	text-transform:uppercase;
	padding:15px 30px;
	line-height:14px;
	color:#fff;
	cursor:pointer;
	letter-spacing:2px;
	font-weight:400;
	font-size:13px;
	letter-spacing:2px;
	text-transform:uppercase;
	-webkit-appearance: none;
    border-radius:4px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
}
#contact-form input[type="submit"]:hover{
	background:#000;
}	
.error_message {		
	text-align:center;		
	font-size:13px;
	max-width:450px;
	margin:0 auto 30px;
	position:relative;
	border-radius:4px;
	padding:10px;						
}	
#success_page h3{		
	text-align:center;
	font-size:18px;	
}		
#success_page p {				
	margin-top:10px;
	font-family: Raleway, Open Sans, Arial, sans-serif;
	text-align:center;
	padding-bottom:10px;		
}	
#message fieldset {		
	border:none;	
}
#contact-social  ul li{
	display: inline-block;
}
#contact-social  ul li a {
	line-height:50px;
	display:block;
	font-size:18px;
	text-transform:uppercase;
	color:#fff;
	padding:10px;
}
.contact-tooltip{
	width:150px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	font-size: 13px !important;
	text-align: center;
	position: absolute;
	color:#fff ;
	top:-300%;
	margin-bottom:-12px;
	left:50%;
	margin-left:-75px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index:6;
	border-radius:2px;
}
.contact-tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.contact-tooltip:after {
	border-width: 4px;
	margin-left:-4px;
}
#contact  .contact-info li:hover .contact-tooltip {
	visibility:visible;
	opacity:1;
	top:-160%;
}
/*------ Map ----------------------------------------------*/
#mapbox{
	position:relative ;
	width:100%;
	height:600px;
	overflow:hidden;
	z-index:0;
}
#map_canvas { 
	height: 100%; 
	position:absolute;
	top:0;
	left:0; 
	width:100%;
}
/*------ Blog - ------------------------------------------------*/
.wrapper {
	float:left;
	position:relative;
	width:100%;
}
.single-page-title-holder {
	float:left;
	width:100%;
	position:relative;
}
.single-page-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size: cover!important;
	background-attachment:fixed!important;
	background-position:center;
	background-repeat:repeat;
	z-index:1;	
}
.single-page {
	background:#eee;
	float:left;
	position:relative;
	width:100%;
	padding-bottom:40px;
}
.media-holder {
	position:relative;
}
 .post {
	float:left;
	width:100%;
	position:relative;
	text-align:left;
	margin-top:50px;
	padding:50px  50px  30px 50px ;
	background:#fff;
 	box-shadow:11px 11px 100px 0 rgba(0,0,0,.1);
}
.post-media{
	position:relative;
}
.no-margin {
	margin-top:0;}
.post-media a img:hover{
	opacity:0.5;
}
.post-meta {
	padding: 10px 0;
 
}
.post-meta ul {
	float:left;
	margin-top:10px;
}
.post-meta li {
	display:inline-block;
	margin-right:10px;
}
.post-meta li h6, .post-meta li a {
	text-transform:none !important;
	font-size:13px;
}
.post-title h3 {
	margin-top:10px;
}
.post-title h3 a{
	padding-top: 10px;
	text-transform: none;
	letter-spacing: normal;
	font-size:23px ;
 
	color:#000;
}
.post-body a {
	float:left;
	margin-top:10px;
}
.post-body {
	margin-top:10px;
}
.post-body div {
	float:left;
	width:100%;
	margin-top:20px;
	padding-top:10px;
	border-top:1px dotted #000;
}
/*-- Sidebar styles --*/
.sidebar {
	float:left;
	width:100%;
}
.widget {
	text-align: left;
	margin: 50px auto;
	background:#fff;
	padding:20px;
}
.widget h4{
	margin-bottom:20px;
	font-size:14px;
	text-transform:uppercase;
}
.searh-holder{
	border-bottom:1px  dotted #666;
	position:relative;
	height: 46px;
	overflow:hidden;
}
.search {
	border: none;
	float: left;
	outline: none;
	padding: 0px 0px 0px 10px;
	width: 100%;
	height: 40px;
	background: #fff;
	color: #000;
	-webkit-appearance: none;
}
.search-submit {
	border: none;
	outline: none;
	cursor: pointer;
	background:none;
	position:absolute;
	top:0;
	right:0;
	width: 18%;
	height: 40px;
}
.search-submit:hover i {
	opacity:0.5;
}
.cat-item, .recentcomments {
	font-size: 0.8666666666667em;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.cat-item a, .recentcomments a { 
	color: #060606!important; 
	font-weight: 400; 
	font-size: 12px;
}
.tagcloud a {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 15px;
	position:relative;
	color:#fff;
}
.tagcloud a:hover{
	color:#666;
}
.widget-archive a, .widget-recent-entries a {
	color: #000; 
	font-weight: 400;
	font-size: 12px;
	display: block;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}
 
/*--- Pagination ---*/
.pagination-holder {
	float:left;
	width:100%;
	background:#fff;
	margin-top:50px;
	padding:50px 0;
}
.pagination {
    text-align:center;
	vertical-align: middle;	
    font-size: 14px;
}
.pagination a {
    color: #fff;
    display:inline-block;
	font-weight:300;		
    height: 50px;
    line-height: 50px;
    width: 50px;
}
.pagination a.current-page, .pagination a:hover {
    color:#666;
}
 .pagination a i {
	 font-size:12px;}
.prevposts-link{
	margin-right:8px;
}
.nextposts-link{
	margin-left:8px;
}
.share-options {
	overflow:hidden;
	padding-top: 20px;
}
.share-options ul{
	float:left;
}
.share-options ul li {
	display:inline-block;
	margin-right:2px;
	padding:8px;
}
.share-options ul li a {
	margin:-14px  0 0 0;
	padding:0 ;
	font-size:16px ;
	color:#666 ;
}
.share-options h6 {
	float:left;
	margin-right:20px;
	margin-top:10px;
	font-size:13px;
	text-transform:none;
}
/*-- Comments --*/

#comments{
	float:left;
	width:100%;
	padding:50px; 
	text-align:left; 
	margin-top: 50px;
	background:#fff;
	box-shadow:11px 11px 100px 0 rgba(0,0,0,.1);
}
#comments-title{
	margin-left: 70px; 
	border-bottom: 1px  dotted #666;
	padding-bottom: 30px; 
	margin-bottom: 5px;
	font-size:15px;
}
.comment{ 
	float: left;
	padding:10px 0; 
}
.comment-body{ 
	position: relative; 
	margin-left: 70px; 
	padding-top: 30px; 
}
.comment-author{ 
	position: absolute; 
	top: 30px; 
	left: -70px;
	height:100%;
	padding-right:6px;
}
.comment .children{ 
	margin-left: 70px; 
}
.fn{
	display: block; 
	margin-bottom: 10px;
}
.comment-meta, .comment-meta a{
	font-size:11px;
	margin-bottom:10px;
}
#respond{
	margin-left:70px;
 
}
#reply-title{
	float:left;
	width:100%;
	clear:both;
	padding-top:20px;
	margin-top:30px;
	padding-bottom:30px;
	margin-bottom:5px;
	font-size:16px;
	font-weight:bold;
	border-top: 1px  dotted #666;
}

.comment-notes{ 
	margin-top: 10px; 
	color: #a4a4a3; 
}
.control-group label, .control-group .controls{ 
	display: inline-block; 
}
.control-group label{ 
	margin-left: 10px; 
	font-weight: 200;
}
.control-group .controls input { 
	margin-top: 15px;
	border: none;
	outline: none;
	height: 35px;
	background: #fff;
	padding-left: 15px;
	color: #a4a4a3;
	text-decoration: none;
	border: 1px  dotted #666; 
}
.control-group .controls textarea {
	margin-top: 15px;
	border: none;
	outline: none;
	height: 180px;
	max-width:600px;
	background: #fff;
	padding-left: 15px;
	padding-top: 15px;
	color: #666;
	resize: vertical;
	text-decoration: none;
	border: 1px dotted #000;
	-webkit-appearance: none;
}
.controls button {
	-webkit-appearance: none;
	float:left;
	border:none;
	background:#fff;
	padding: 14px 38px;
	border:2px solid #666;
	color:#666;
	line-height: 1;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-appearance: none;
    border-radius:25px;
	font-weight:bold;
	cursor:pointer;	
	
}
/*------ css-animation - ------------------------------------------------*/
.transition{
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
.transition2{
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.scale-bg{
	-webkit-transform: scale(1.2);
	-moz-transform:scale(1.2);
	transform: scale(1.2);
	opacity:0.5;
}
.scale-bg2{
	-webkit-transform: scale(0.9);
	-moz-transform:scale(0.9);
	transform: scale(0.9);
	opacity:0.5; 
}
.nav-rotade{
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
.animated.hinge {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
}
@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    } 
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }    
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }    
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipInY {
    0% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }    
    40% {
        -moz-transform: perspective(400px) rotateY(-10deg);
    }    
    70% {
        -moz-transform: perspective(400px) rotateY(10deg);
    }   
    100% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-o-keyframes flipInY {
    0% {
        -o-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }   
    40% {
        -o-transform: perspective(400px) rotateY(-10deg);
    }   
    70% {
        -o-transform: perspective(400px) rotateY(10deg);
    }   
    100% {
        -o-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }  
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }   
    70% {
        transform: perspective(400px) rotateY(10deg);
    }  
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
.flipInY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}
@-webkit-keyframes flipOutY {
    0% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
@-moz-keyframes flipOutY {
    0% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
@-o-keyframes flipOutY {
    0% {
        -o-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        -o-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
@keyframes flipOutY {
    0% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
.flipOutY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipOutY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipOutY;
	backface-visibility: visible !important;
	animation-name: flipOutY;
}
@-webkit-keyframes k3d {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@-moz-keyframes k3d {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(360deg);
  }
}
@-ms-keyframes k3d {
  from {
    -ms-transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
  }
}
@-o-keyframes k3d {
  from {
    -o-transform: rotateY(0deg);
  }
  to {
    -o-transform: rotateY(360deg);
  }
}
@keyframes k3d {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinAround {
	to {
		-webkit-transform:scale(5.0) ;
	}
}
@-moz-keyframes spinAround {
	to {
		-moz-transform: scale(5.0) ;
	}
}
@keyframes spinAround {
	to {
		transform: scale(5.0);
	}
}
/*------  Responsive ------------------------------------------------------*/
@media only screen and  (max-width: 1236px) {
.slide-bg {
	background-position:50%!important;
}
}
@media only screen and  (max-width: 1036px) {
.about-button {
	position:absolute;
	right:0;
	top:-52px;
	width:33.3333333%;
}
.show-res {
	right:33.3333333%;
}
.show-about {
	left:0;
}
.show-ser {
	right:0;
}
.nav-holder {
	width:89.4%;
	top:3%;
}
.tooltip {
	display:none;
}
.left-colum , .right-colum , .clients-holder  , .to-top-holder , .download-botton-holder , .resume-title , .resume-head  , .resume-box-holder , .resume-bg , .contact-header h3 , .contact-header p{
	width:100%;
}
.contact-header p {
	text-align:center;
}
.resume-head h3  ,  .resume-head h4 , .resume-box-holder{
	text-align:left;
	padding-left:20px;
}
#facts:before {
	width:100%;
}
#facts:after {
	display:none;
}
.download-botton-holder , .resume-box  , .resume-title {
	padding:20px 0;
}
 
.page-title {
	padding:150px 40px 100px;
}
.resume-head {
	padding-right:0px;
}
.subab , #twitteritem  , #testimonials{
	padding:80px 35px;
}
.bg {
	background-position:center!important;
}
.nav-holder {
	width:88.9%;
	top:3%;
	background:rgba(49,49,49,0.6);
}
.resume-container:hover .overlay {
	opacity:0.8;
}	
}
@media only screen and  (max-width: 979px) {
footer{
 	float:left;
	position:relative !important;
	bottom:0;
	margin-top:50px;
	padding-left:5%
}
.social-list {
	float:left;
}
.social-list li {
	float:left;
	padding:6px 10px 6px 0;
}
.box {
	width: 46.969696969697%;
}
.services-holder li {
	width: 50%;
}
.page-title h2 {
	font-size:54px; 
}
nav {
	width:50%;
	clear:both !important;
}
nav  a{
	float:none;
	display:list-item;
	list-style:none;
}	
.arrow-nav {
	float:none;
	position:absolute;
	top:16px;
	right:10px;
}
.prject-ajax-box {
	padding:50px;
}
.prject-ajax-box .project-discription {
	padding:50px 0;
}
}
@media only screen and  (max-width: 768px) {
.testi-image:before {
	border-left:none;
}
.subcribe-form fieldset:before {
	border-right:none; 
}	
#testimonials p  , #testimonials h4 {
	text-align:center;
}	
#testimonials a.testi-link	{
	float:none;
}
.scroll-nav {
	display:none;
}
.resume-head h4 , .resume-head h3 , .resume-box-holder{
	padding-left:0;
} 
}
@media only screen and  (max-width: 540px) {
.box {
	width: 100%;
	margin:1.315151515152% 0;
}
#home h2 {
	font-size:34px;
}
.page-title h2 {
	font-size:34px; 
}
.arrow-nav {
	display:none;
}
.btn-menu-wrapper {
	float:right;
}
#folio .button {
	margin-left:0;
	margin-top:30px;
} 
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.bg  , .single-page-bg {
	background-attachment: scroll !important;
	-webkit-background-size:cover;
	background-position:center;
}
}
.unordered-list{
	list-style: inherit
}
.unordered-list li{
	margin: 10px;
}